<p style="color: green"><%= notice %></p>

<h1 id="main-title">Segredos contados:</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: "show-post" %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
